

<dl>
  <dt>
    <h1><%= @movie.title %></h1>
  </dt>

  <% if @movie.image.attached? %>
    <dd>
      <%= image_tag(@movie.image_as_thumbnail) %>
    </dd>
  <% end %>

  <dd>
    <b>Diretor: </b><%= @director.name %>
  </dd>
  <dd>
    <b>Ano: </b><%= @movie.released ? @movie.year : "Previsão para #{@movie.year}" %>
  </dd>
  <dd>
    <b>Duração: </b><%= @movie.duration %> minutos
  </dd>
  <dd>
    <b>Gênero: </b><%= @genre.name %>
  </dd>
  <dd>
    <b>Sinopse: </b><%= @movie.synopsis %>
  </dd>
</dl>

<%= link_to("Editar", edit_movie_path(@movie)) %>

